@import url("colors_ags.css");

* {
  transition:
    color ease-in-out 0.25s,
    background ease-in-out 0.25s;
  padding: unset;
  margin: unset;
}

window > box {
  background: @background;
  font: 15.5px monospace;
  font-weight: bold;
  color: @foreground;
  margin: 4px 4px 0 4px;
  border: 2px solid @color4;
  min-height: 30px;
}

button {
  background: transparent;
  box-shadow: none;
  padding: 0 6px 0 6px;
}

menu {
  margin: 4px;
  padding: 6px;
}
menu separator {
  margin: 6px 0;
}
menu menuitem {
  padding: 4px 6px;
}

.workspaces {
  margin-left: 5px;
}

.volume {
  margin-right: 5px;
}

.workspaces button {
  border-radius: 0;
  padding: 0 1px;
  box-shadow: none;
  color: @foreground;
  background-color: transparent;
}

.workspaces button.focused {
  border-bottom: 2px solid @color6;
  padding-top: 2px;
}

.workspaces button:hover {
  color: @color4;
  background: transparent;
}

.icon {
  padding-right: 4px;
  color: @color4;
}

.tray {
  background: transparent;
  margin-right: -4px;
}

.charging {
  color: @color6;
}
