@import url("colors_ags.css");

* {
  transition:
    color ease-in-out 0.25s,
    background ease-in-out 0.25s;
  padding: unset;
  margin: unset;
}

window > box {
  background: @background;
  font: bold 15px sans;
  font-feature-settings: "tnum";
  color: @foreground;
  margin: 2px 2px 2px 0;
  border: 1px solid @color4;
  min-width: 26px;
}

button {
  background: transparent;
  box-shadow: none;
  padding: 0 2px;
}

menu {
  margin: 4px;
  padding: 6px;
}
menu separator {
  margin: 6px 0;
}
menu menuitem {
  padding: 4px 6px;
}

.workspaces {
  padding-top: 5px;
}

.metric-unit {
  font-size: 10px;
  font-weight: normal;
  margin-top: -2px;
  color: @foreground;
}

.date,
.metric-value,
.metric-unit {
  padding: 0 2px;
}

.right-section {
  margin-bottom: 4px;
}

.workspaces button {
  border-radius: 0;
  padding: 1px 1px;
  box-shadow: none;
  color: @foreground;
  background-color: transparent;
  border-left: 2px solid transparent;
}

.workspaces button.focused {
  border-left: 2px solid @color6;
}

.workspaces button:hover {
  color: @color4;
  background: transparent;
}

.workspaces button.focused:hover {
  border-left: 2px solid @color6;
}

.icon {
  padding-right: 0;
  padding-bottom: 1px;
  color: @color4;
}

.tray {
  background: transparent;
  margin-bottom: 2px;
}

.tray button {
  padding: 1px 0;
}

.charging {
  color: @color6;
}
