/* Hide nitro begging */
@import url("https://allpurposem.at/disblock/DisblockOrigin.theme.css");

/* Hide the Visual Refresh title bar */
@import url("https://raw.githubusercontent.com/surgedevs/visual-refresh-compact-title-bar/refs/heads/main/hidden.css");

/* Align the chat box with the user panel */
.visual-refresh {
  form > div[class^="channelBottomBarArea_"] {
    --custom-chat-input-margin-bottom: 6px;
    --custom-channel-textarea-text-area-height: 52px;
  }
}

/* Make the slowmode text smaller */
.cooldownText_b21699 {
  font-size: 12px;
}

/* Hide the slowmode icon */
.slowModeIcon_b21699 {
  display: none;
}

/* Use system fonts for UI */
:root {
  --font-primary: "sans-serif" !important;
  --font-display: "sans-serif" !important;
  --font-headline: "sans-serif" !important;
  --font-code: "monospace" !important;
  /* Make the sidebar line up correctly with disabled title bar */
  --vr-header-snippet-server-padding: 8px !important;
}

/* Hide "Now Playing" section on friends list */
div[class^="nowPlayingColumn_"] {
  display: none !important;
}

/* Make "Read All" vencord button text smaller */
button.vc-ranb-button {
  font-size: 13px;
  font-weight: normal;
}

/* Hide "Discover" icon in channel list */
div[class="circleIconButton__5bc7e discoveryIcon_ef3116"] {
  display: none !important;
}
